body {
    margin: auto;
}
img {
    border-radius: 25px;
}
.navbar-nav {
    padding-left: 10%;
}

.footer {
    padding-top: 45px;
}
.footer-index {
    display: block;
    position: relative;
    top: 150px;
}