
h1 {
    margin: 1.5rem;
}

body {
    margin: auto;
}
img {
    border-radius: 25px;
}
.navbar-nav {
    padding-left: 10%;
}

img.main-image {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 1rem;
}

.typology-framework {
    background-color: lightblue;
    padding: 3%;
    border-radius: 1.5rem;
}

a.btn {
    display: block;
    margin: 3%;
}

.btn-outline-secondary {
    opacity: 0.6;
    transition: opacity 0.3s;
}

.btn-outline-secondary.active, 
.btn-outline-secondary:focus, 
.btn-outline-secondary:hover {
    opacity: 1;
    background-color: #007bff;
    color: #fff;
}

form {
    margin: 3rem 2rem 2rem;
}

footer {
    padding: 1rem;
    margin-top: 3rem;
}

.footer-index {
    display: block;
    position: relative;
    top: 3em;
}

@media (max-width: 1023px) {
    footer.container {
        max-width: 50%;
    }
    .text-muted {
        display: block;
        max-width: 150px;
        line-height: 1.6em;
    }
}
@media (max-width: 599px) {
    img.main-image {
        display: none;
    }
    
}